.App {
  text-align: center;
}

body{
  height: 100vh;
}

.Layout {
  background: rgba(50,50,50,.1);
  height: 100vh;
  padding: 0 4vw;
  width: 92vw;
}

.header {
  background: white;
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header .titulo {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 0;
}

.header .subtitulo {
  font-family: 'Source Sans Pro';
  margin-top: 0;
  font-size: 14px;
  color: rgba(50,50,50,.5);
}

.Menu {
  background: #f25f70;
  height: 55px;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 14px;
  color: white;

  box-shadow: inset 0 -5px 0 rgba(50,50,50,.2);
}

.Menu .item {
  margin: 0 5px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu .punto {
  width: 3px;
  height: 3px;
  margin: 0 10px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
}
.mobile {
  display: none;
}