.App {
  text-align: center;
}

body{
  height: 100vh;
}

.Layout {
  background: rgba(50,50,50,.1);
  padding: 0 3%;
  width: 94%;
}

.header {
  background: white;
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header .titulo {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 2.2em;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.header .subtitulo {
  font-family: 'Source Sans Pro';
  margin-top: 0;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: rgba(50,50,50,.5);
}

.Menu {
  background: #f25f70;
  height: 55px;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 14px;
  color: white;

  box-shadow: inset 0 -2px 0 rgba(50,50,50,.2);
}

.Menu .item {
  margin: 0 5px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}

.Menu .item a {
  color: white;
  text-decoration: none;
}

.Menu .punto {
  width: 3px;
  height: 3px;
  margin: 0 10px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
}

.activeLink {
  color: white;
}

.mobile {
  display: none;
}

.Contenido {
  background: white;
  display: flex;
  flex-flow: row wrap;
  min-height: 80vh;
}

.Articulos {
  margin-bottom: 100px;
  border-bottom: solid rgba(200,200,200,.3) 1px;
}

.Articulo {
  width: 70%;
  padding-top: 50px;
  background: white;
  padding-bottom: 10px;
}

.Articulo .imagen {
  width: 100%;
  height: 35vw;
  margin: 0;
  background-size: cover !important;
}

.Articulo .titulo, .informacion .titulo, .experiencia .titulo {
  font-family: 'Oswald';
  font-weight: 300;
  padding: 0 5%;
  margin: 25px 0;
  letter-spacing: 2px;
}

.Articulo .titulo a {
  text-decoration: none;
  color: rgba(0,0,0,.8);

}

.Articulo .titulo a {
  cursor: pointer;
  will-change: color;
  transition: .5s;
}

.Articulo .titulo:hover a {
  color: #e1122a;
}

.Articulo .ref {
  width: 90%;
  padding: 0 5%;
  color: rgba(0, 0, 0, .4);
  cursor: pointer;
  display: inline;
  font-family: "Droid Serif", Georgia, serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  height: auto;
  line-height: 18px;
  text-align: left;
  text-size-adjust: 100%;
  width: auto;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Articulo .fecha {
  margin: 0;
  height: 100%;
  will-change: color;
  transition: .5s;
}

.Articulo .fecha:hover {
  color: rgba(0, 0, 0, .9);
}

.Articulo span {
  width: 40%;
  height: 20px;
  margin: 0 5px;
  will-change: color;
  transition: .5s;
}

.Articulo span:hover {
  color: rgba(0,0,0,.9);
}

.Articulo .resumen {
  color: rgb(10, 10, 10);
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  padding: 0 5%;
  line-height: 24px;
  margin-bottom: 50px;
}

.Articulo #extender {
  margin: 0 5px;
  color: rgb(225, 18, 42);
  cursor: pointer;
}

.Articulo #extender:hover {
  color: rgba(0, 0, 0, .6);
}

.Articulo .seccion {
  margin-top: 0 !important;
  margin-left: 5% !important;
  font-size: 21px !important;
}

.Articulo .texto {
  color: rgb(80, 80, 80);
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  padding: 0 5%;
  line-height: 24px;
  margin-bottom: 25px;
}

.Articulo .video {
  padding: 0 5%;
}

.aside {
  display: none;
  background: white;
}

/* Contacto */


.hero {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.informacion {
  width: 60%;
  padding: 5%;
}

.informacion .titulo {
  margin-top: 2px;
}

.informacion p {
  color: rgb(10, 10, 10);
  font-family: "Source Sans Pro";
  font-size: 16px;
  padding: 0 5%;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.informacion a p:hover {
  color: rgb(170, 170, 170);
}

.informacion a p {
  color: #e1122a;
  cursor: pointer;
  will-change: color;
}

.bExperiencia{
  display: flex;
  justify-content: center;
  background-color: white;
  height: 78vh;
  overflow-y: scroll;
}

.experiencia {
  width: 50%;
  height: 200vh;
  padding: 0 5%;
  background: rgba(250,250,250,.9);
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.experiencia .titulo {
  padding: 0;
  width: 100%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 0;
}

.seccion {
  font-family: 'Oswald';
  font-weight: 300;
  color: rgba(30,30,30,.8);
  letter-spacing: 2px;
  font-weight: bold;
}

.experiencia .seccion{
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 1.6em;
  color: rgba(30,30,30,.8);
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0;
  margin-top: 5%;

}

.experiencia .subseccion {
  font-size: 1em;
  font-family: 'Source Sans Pro';
  text-decoration: underline;
  font-weight: bold;
  color: rgba(50,50,50,.9);
  margin: 5% 0;
  text-align: center;
}

.experiencia a {
  color: #e1122a;
}

.experiencia a:hover {
  color: rgb(170, 170, 170);
  cursor: pointer;
}

.experiencia ul {
  margin: 0;
  padding: 0;
}
.experiencia p, .experiencia li {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: 'Source Sans Pro';
  color: rgba(50,50,50,.6);
  text-align: center;
}

.footer {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(250,250,250,.5);
  background: rgba(40,40,40,1);
}


/* Imagenes */

.imagenArticulo {
  background-size: cover;
  background-position: center;
  min-height: 300px;
  min-width: 95% !important;
  border: none;
  margin-left: 5%;
}

/* Articulo 0 */

#boda {
  background: url(./Assets/boda.jpg);
}
#chinos {
  background: url("./Assets/chinos.jpg");
}

/* Articulo 1 */
#wasted {
  background: url('https://media.giphy.com/media/o6xoGwmBIb32M/giphy.gif')
}
#pizza {
  background: url(./Assets/pizza.jpg)
}
#fiesta {
  background: url(./Assets/fiesta.jpg)
}
#hell {
  background: url(./Assets/hell.jpg)
}
#varas {
  background: url(./Assets/varas.jpg)
}
#poemario {
  background: url(./Assets/poemario.jpg)
}
#flowerboy {
  background: url(./Assets/flowerboy.jpg)
}
#flowerboy-2 {
  background: url(./Assets/flowerboy-2.jpg)
}
#flowerboy-3 {
  background: url(./Assets/flowerboy-3.gif)
}
#flowerboy-5 {
  background: url(./Assets/flowerboy-5.gif)
}
#scientology {
  background: url(./Assets/scientology.jpg)
}
#scientology-1 {
  background: url(./Assets/scientology-1.jpg)
}
#scientology-2 {
  background: url(./Assets/scientology-2.jpg)
}
#brazil {
  background: url(./Assets/brazil.jpg)
}
#brazil-1 {
  background: url(./Assets/brazil-1.jpg)
}
#brazil-2 {
  background: url(./Assets/brazil-2.jpg)
}
#brazil-3 {
  background: url(./Assets/brazil-3.jpg)
}
#brazil-4 {
  background: url(./Assets/brazil-4.jpg)
}
#brazil-5 {
  background: url(./Assets/brazil-5.jpg)
}
#brazil-6 {
  background: url(./Assets/brazil-6.gif)
}
#brazil-7 {
  background: url(./Assets/brazil-7.jpg)
}
#revolucion {
  background: url(./Assets/revolucion.jpg)
}
#revolucion-1 {
  background: url(./Assets/revolucion-1.jpg)
}
#revolucion-2 {
  background: url(./Assets/revolucion-2.jpg)
}
#revolucion-3 {
  background: url(./Assets/revolucion-3.jpg)
}
#illuminati {
  background: url(./Assets/illuminati.jpg)
}

#benito {
  background: url(./Assets/benito.jpg)
}
#benito-1 {
  background: url(./Assets/benito-1.jpg)
}
#benito-2 {
  background: url(./Assets/benito-2.gif)
}

#hero {
  background: url("./Assets/hero.jpg");
  background-position: center;
  background-size: cover;
}
#experiencia {
  background: url("./Assets/writer.jpg");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}



@media screen and (min-width: 800px) {
  .Articulos {
    width: 70%;
  }
  .aside {
    display: flex;
    width: 30%;
    position: relative;
  }
  .redes {
    position: fixed;
    top: 30%;
    right: 6vw;
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .redes h3 {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(90, 90, 90);
  }
  .redes .simbolos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    font-size: 1.8em;
    color: rgb(225, 18, 42);
  }
  .redes .simbolos i:hover {
    color: rgb(170, 170, 170);
  }
  .redes .simbolos i {
    margin: 0 5px;
    cursor: pointer;
  }
  .imagen {
    height: 25vw !important;
  }
}

@media screen and (min-width: 1000px) {
  .imagen {
    height: 25vw !important;
  }
}
